<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:aop="http://www.springframework.org/schema/aop" 
       xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:mongo="http://www.springframework.org/schema/data/mongo" 
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
            http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-4.3.xsd 
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-4.3.xsd 
            http://www.springframework.org/schema/data/mongo 
            http://www.springframework.org/schema/data/mongo/spring-mongo-1.8.xsd">  
    
    <!-- 读取properties文件 -->  
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
        <property name="locations">  
            <list>  
                <value>classpath:/develop.properties</value>
            </list>  
        </property>  
        <property name="ignoreUnresolvablePlaceholders" value="true" />   
    </bean>
    
    <context:annotation-config />
    
    <!-- Spring服务组件扫描(排除@Controller相关组件) -->
    <context:component-scan base-package="org.simple.customer" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.aspectj.lang.annotation.Aspect" />
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository" />
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Component" />
        <!-- 设置Spring不扫描@Controller组件 -->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>
    
    <!-- Imports user-definded @Repository beans that process database options -->
    <!--<bean id="mongoConfig" class="com.kongtrolink.scloud.mongo.config.MongoConfig" />-->
    <import resource="mongo.xml" />
    <import resource="dubbo.xml" />
    
    <aop:aspectj-autoproxy/>
    
</beans>
