<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="test_student">

	<insert id="insert" parameterType="org.simple.spi.entity.DemoEntity">
		INSERT INTO student(name,age,ctime)
		VALUES (
		#{name,jdbcType=VARCHAR},
		#{age,jdbcType=INTEGER},now())
	</insert>

	<select id="queryAll" resultType="org.simple.spi.entity.DemoEntity"
		parameterType="org.simple.spi.entity.DemoEntity">
		select id,name,age
		from student
	</select>
</mapper>